<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd"> -->
<Configuration>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="[example-aop] [%p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%c{1}.%M(%L)]  %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdout"/>
		</Root>
	</Loggers>
  
</Configuration>